<h1>About Us</h1>
<p>Simple pinterest style app which allows users to register,unregister, sign in, CRUD pins.</p>
<p>Non-default gems used were: turbolinks, bootstrap sass, devise, paperclip, masonry-rails, jquery-turbolinks, will_paginate, will_paginate-bootstrap</p>